language: python
python:
  - "pypy"
  - "2.7"
  - "3.4"
  - "3.5"
install:
  - pip install -e .
  - pip install coveralls
  - pip install flake8
script:
  - python setup.py test
  - python setup.py flake8
after_success:
  - coveralls
