flake8==4.0.1
flake8-bugbear==22.3.23
flake8-docstrings==1.6.0
flake8-import-order==0.18.1
flake8-quotes==3.3.1
flake8-commas==2.1.0
flake8-debugger==4.0.0
flake8-sfs==0.0.3
pydocstyle==6.1.1
pycodestyle==2.8.0
semgrep==0.86.5
sqlalchemy-stubs==0.4
types-pytz==2021.3.6
types-croniter==1.0.8
bandit==1.7.4
flake8-rst-docstrings==0.2.3
isort==5.9.1
mypy==0.942
types-PyYAML==6.0.5
types-requests==2.27.15
types-setuptools==57.4.11
types-ujson==4.2.1
sphinx-autoapi==1.8.1